<h1><%= @song.title %></h1>
<h3>Artist: <%= @song.artist_name %></h3>
<h4>Release Year: <%= @song.release_year %></h4>
<h4>Genre: <%= @song.genre %></h4>
<p><%= link_to "Edit This Song", edit_song_path %></p>
<p><%= link_to "Back to ALL OF THE SONGS!", songs_path %></p>
<br>
<%= form_tag song_path(@song), method: :delete do %>
<%= submit_tag "Delete Song" %>
<% end %>
